<div class="product-card">

	<div class="product-card-content">
		<!-- {{ product | json }} -->
		<h1> {{ product.name }}  | Category: {{ product.category }}</h1>
		<p> {{ product.description }} </p>
		<span> {{ product.price | currency }}</span>
	</div>

	<div 
		class="product-card-action" 
		*ngIf="product.status.toLowerCase() === 'approved' || product.status.toLowerCase() === 'rejected'"
	>
		<!-- Edit -->
		<button 
			mat-icon-button
			type="button" 
			(click)="onDetails(product)"
			matTooltip="Edit this element"
			[matTooltipPosition]="positionOptions[2]"
			class="sho-action-button sho-action-button-details"
		>
			<mat-icon *ngIf="isIcon" class="blue-icon" svgIcon="pencil-edit-02"></mat-icon>
		</button>

		<!-- Delete -->
		<button 
			mat-icon-button 
			type="button"
			(click)="onDelete(product)"
			matTooltip="Delete this element"
			[matTooltipPosition]="positionOptions[2]"
			class="sho-action-button sho-action-button-delete"
		>
			<mat-icon *ngIf="isIcon" class="blue-icon" svgIcon="delete-02"></mat-icon>
		</button>
	</div>
	<div 
		class="product-card-action" 
		*ngIf="product.status.toLowerCase() !== 'approved' || product.status.toLowerCase() !== 'rejected'"
	>
		<mat-checkbox
			[(ngModel)]="approve"
			(change)="onApprove(product)"
			>
			Approve
		</mat-checkbox>
		<mat-checkbox
			[(ngModel)]="reject"
			(change)="onReject(product)"
			>
			Reject
		</mat-checkbox>
		<!-- Edit -->
		<!-- <button 
			class="btn btn-primary"
			type="button" 
			(click)="onApprove(product)"
			matTooltip="Approve this product"
			[matTooltipPosition]="positionOptions[2]"
		>
			Approve
		</button> -->

		<!-- Delete -->
		<!-- <button 
		    class="btn btn-secondary"
			type="button"
			(click)="onReject(product)"
			matTooltip="Reject this product"
			[matTooltipPosition]="positionOptions[2]"
		>
			Reject
		</button> -->
	</div>
</div>
