<div class="view-container">

	<div class="view bg-card rounded">

		<!-- Header -->
		<div class="view-header">
			<h1 class="text-gray-500 text-2xl">Unreviewed Products</h1>
			<button class="btn btn-primary" (click)="dispatchProducts()">Dispatch</button>
			<span class="text-gray-500 font-medium"> Total: {{ (products$ | async)?.length }} </span>
		</div>

		<!-- Body -->
		<div class="view-body max-h-[550px]" #scrollContainer style="overflow-y: scroll;">
			@if (error | async ) {

				<div class="m-4">
					Upsss... something went wrong!
				</div>

			} @else {
				<div class="products-container">
					
					<app-product-card *ngFor="let product of products$ | async; trackBy: trackByProductId"
						[product]="product"
						[parent]="'unreviewed'"
						(approveEmit)="approveProduct($event)"
						(rejectEmit)="approveProduct($event)"
					></app-product-card>

					@if (isLoading$ | async ) {
						<span class="loader-dual"></span>
					}
				</div>
			}
		</div>
	</div>
</div>