<div class="view-container">

	<div class="view bg-card rounded">

		<!-- Header -->
		<div class="view-header">
			<h1 class="text-gray-500 text-2xl">Unreviewed Products</h1>

			<button class="btn btn-primary" (click)="dispatchProducts()">Dispatch</button>
			<span class="text-gray-500 font-medium"> Total: {{ (products$ | async)?.length }} </span>
		</div>

		<!-- Body -->
		<div class="view-body">
			@if (isLoading | async ) {
				<span class="loader-dual"></span>

			} @else if (error | async ) {

				Upsss... something went wrong!

			} @else {
				<div class="products-container">

					@for (product of products$ | async; track $index) {

						<app-product-card
							[product]="product"
							(approveEmit)="approveProduct($event)"
							(rejectEmit)="rejectProduct($event)"
						></app-product-card>

					}
				</div>
			}
		</div>

	</div>
</div>