<div class="view-container">

	<div class="view bg-card rounded max-h-[500px]" #scrollContainer style="overflow-y: scroll;">

		<!-- Header -->
		<div class="view-header">
			<h1 class="text-gray-500 text-2xl">Reviewed Products </h1>
			<span class="text-gray-500 font-medium"> 	Page: {{ page }} | Total: {{ (products$ | async)?.length }} </span>
		</div>

		<!-- Body -->
		<div class="view-body">
			@if (error | async ) {

				Upsss... something went wrong!

			} @else {
				<div class="products-container">

					@for (product of products$ | async; track $index) {

						<app-product-card
							[product]="product"
							(approveEmit)="approveProduct($event)"
							(rejectEmit)="approveProduct($event)"
							(detailsEmit)="openDetailsDialog($event)"
							(deleteEmit)="deleteProduct($event)"
						></app-product-card>

					}

					@if (isLoading$ | async ) {
						<span class="loader-dual"></span>
					}
				</div>
			}
		</div>
	</div>
</div>