<div class="view-container">

	<div class="view bg-card rounded">

		<!-- Header -->
		<div class="view-header">
			<h1 class="text-gray-500 text-2xl">Reviewed Products </h1>

			<div class="space-x-6">
				<mat-form-field appearance="fill">
					<mat-label>Product Status</mat-label>
					<mat-select [(value)]="currentStatus">
					  <mat-option value="approved">Approved</mat-option>
					  <mat-option value="rejected">Rejected</mat-option>
					</mat-select>
				 </mat-form-field>
	
				 <button style="cursor: pointer;"
					(click)="clearFilters()"
					matTooltip="Clear filters"
					[matTooltipPosition]="positionOptions[2]"
					>
					<mat-icon *ngIf="isIcon" svgIcon="clean"></mat-icon>
				</button>
	
				<span class="text-gray-500 font-medium"> 	Page: {{ page }} | Total: {{ (products$ | async)?.length }} </span>
			</div>
		</div>

		<!-- Body -->
		<div class="view-body max-h-[500px]" #scrollContainer style="overflow-y: scroll;">
			@if (error | async ) {

				<div class="m-4">
					Upsss... something went wrong!
				</div>

			} @else {
				<div class="products-container">

					<ng-container *ngFor="let product of products$ | async; trackBy: trackByProductId">
						<app-product-card *ngIf="currentStatus === '' || product.status === currentStatus"
							[product]="product"
							[parent]="'reviewed'"
							(detailsEmit)="openDetailsDialog($event)"
							(deleteEmit)="deleteProduct($event)"
						></app-product-card>
					</ng-container>
					
					@if (isLoading$ | async ) {
						<span class="loader-dual"></span>
					}
				</div>
			}
		</div>
	</div>
</div>