<div class="m-5 p-5">
   <div class="product-card-content mb-4">
      <!-- {{ product | json }} -->
      <h1> {{ product.name }}  | Category: {{ product.category }}</h1>
      <p> {{ product.description }} </p>
     
		<div class="flex flex-row space-x-4 py-3">
			<p class="text-gray-700"> Weight: {{ product.weight }}</p>
			<p class="text-gray-700"> Stock: {{ product.stock }}</p>
		</div>
		<span> {{ product.price | currency }}</span>

   </div>

   <div>
   	<!-- Edit -->
		<button 
			class="btn btn-primary"
			type="button" 
         mat-dialog-close
			matTooltip="Go to main page"
			[matTooltipPosition]="positionOptions[2]"
		>
			Back
		</button>

		<!-- Delete -->
		<!-- <button 
		    class="btn btn-secondary"
			type="button"
			(click)="onReject(product)"
			matTooltip="Reject this product"
			[matTooltipPosition]="positionOptions[2]"
		>
			Reject
		</button> -->
   </div>
</div>
