<div class="m-5 p-5">
   <div class="product-card-content mb-4">
      <!-- {{ product | json }} -->
      <h1> {{ product.name }}  | Category: {{ product.category }}</h1>
      <p> {{ product.description }} </p>

		<mat-divider></mat-divider>
     
		<div class="flex flex-row space-between">
			<div class="flex flex-row space-x-4 py-3">
				<p class="text-gray-700"> Weight: {{ product.weight }}</p>
				<p class="text-gray-700"> Stock: {{ product.stock }}</p>
			</div>
			<span class="price-span"> {{ product.price | currency }}</span>
		</div>

   </div>

   <div>
		<button 
			class="btn btn-primary"
			type="button" 
         mat-dialog-close
			matTooltip="Go to main page"
			[matTooltipPosition]="positionOptions[2]"
		>
			Back
		</button>
   </div>
</div>
