/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.view-container{
   padding: 1rem;
}

.view{
   box-shadow: 0px 1px 5px -2px #565b64;
   padding: 20px;
   border-radius: 8px;
   min-width: 100%;
}

.view-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.sidebar{
  box-shadow: 3px 4px 5px 2px #565b64;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-right: solid 1px rgb(46, 51, 60, 0.1);
}

.sidebar-item{
  color: gray;
  border-radius: 4px;
  min-width: 100% !important;
  height: 36px;
  position: relative;
  line-height: 36px;
  padding: 0 10px 0 10px;
  transition: all 0.2s ease;
  &:hover{
    color: rgb(255, 115, 0);
    background-color: rgb(247, 237, 217);
  }
}

.products-container {
   display: grid;
   grid-template-columns: 50% 50% !important;
   padding: 1rem 0.75rem 1rem 0.75rem;
   max-width: 100%;
   gap: 1rem;
}

.product-card {
   position: relative;
   height: 9rem !important;
   border: solid 1px #d1d5db;
   border-radius: 8px;
   min-width: 350px !important;
   padding: 1rem 1.25rem 1rem 1.25rem;
   transition: all 0.3s ease;
   &:hover{
      box-shadow: 0px 1px 5px -2px #565b64;
   }
}

.product-card-content{
   > h1 {
      color: rgb(224, 149, 8);
   }
   > p {
      font-size: 14px;
      color: #45494f;
      height: 4.2rem;
   }
   > span {
      font-size: 20px;
      font-weight: 600;
      color: #0f4392;
   }
}

.product-card-action{
   gap: 3px;
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 0 1rem 2px 0;
   justify-content: end;
   display: flex;
   flex-direction: row;
}



/* Estilos generales para todos los botones */
.btn {
   display: inline-block;
   font-weight: 400;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   padding: 10px 20px;
   border-radius: 5px;
   border: 1px solid transparent;
   transition: all 0.3s ease;
   user-select: none;
 }
 
 .btn:focus, .btn:hover {
   outline: none;
   opacity: 0.9;
 }
 
 /* Botón Primario */
 .btn-primary {
   background-color: #007bff; /* Azul */
   color: white;
   border-color: #007bff;
 }
 
 .btn-primary:focus, .btn-primary:hover {
   background-color: #0056b3;
   border-color: #004085;
   color: white;
 }
 
 /* Botón Secundario */
 .btn-secondary {
   background-color: #6c757d; /* Gris */
   color: white;
   border-color: #6c757d;
 }
 
 .btn-secondary:focus, .btn-secondary:hover {
   background-color: #5a6268;
   border-color: #4e555b;
   color: white;
 }
 
 /* Botón Exitoso */
 .btn-success {
   background-color: #28a745; /* Verde */
   color: white;
   border-color: #28a745;
 }
 
 .btn-success:focus, .btn-success:hover {
   background-color: #218838;
   border-color: #1e7e34;
   color: white;
 }
 
 /* Botón de Peligro */
 .btn-danger {
   background-color: #dc3545; /* Rojo */
   color: white;
   border-color: #dc3545;
 }
 
 .btn-danger:focus, .btn-danger:hover {
   background-color: #c82333;
   border-color: #bd2130;
   color: white;
 }
 
 /* Botón de Advertencia */
 .btn-warning {
   background-color: #ffc107; /* Amarillo */
   color: black;
   border-color: #ffc107;
 }
 
 .btn-warning:focus, .btn-warning:hover {
   background-color: #e0a800;
   border-color: #d39e00;
   color: black;
 }
 
 /* Botón de Información */
 .btn-info {
   background-color: #17a2b8; /* Azul claro */
   color: white;
   border-color: #17a2b8;
 }
 
 .btn-info:focus, .btn-info:hover {
   background-color: #138496;
   border-color: #117a8b;
   color: white;
 }
 
 /* Botón de Éxito */
 .btn-light {
   background-color: #f8f9fa; /* Blanco */
   color: black;
   border-color: #f8f9fa;
 }
 
 .btn-light:focus, .btn-light:hover {
   background-color: #e2e6ea;
   border-color: #dae0e5;
   color: black;
 }
 
 /* Botón Oscuro */
 .btn-dark {
   background-color: #343a40; /* Gris oscuro */
   color: white;
   border-color: #343a40;
 }
 
 .btn-dark:focus, .btn-dark:hover {
   background-color: #23272b;
   border-color: #1d2124;
   color: white;
 }
 
 /* Botón Deshabilitado */
 .btn-disabled, .btn:disabled {
   background-color: #d6d8db;
   border-color: #d6d8db;
   color: #6c757d;
   cursor: not-allowed;
 }
 
 /* Botón en Enlace (tipo enlace) */
 .btn-link {
   background-color: transparent;
   color: #007bff;
   text-decoration: underline;
   padding: 0;
   border: none;
 }
 
 .btn-link:focus, .btn-link:hover {
   background-color: transparent;
   color: #0056b3;
   text-decoration: underline;
 }
 

 .fade{
  opacity: 0.6;
}

.loader-dual {
  position: absolute !important;
  left: 50%;
  top: 350px !important;
  z-index: 9999 !important;
  margin: auto;
  color: #d03a3a;
  font-size: 35px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.6s infinite ease, round 1.6s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}